![neelwafurat logo](https://www.neelwafurat.com/graphics/common/NWF_logo.png)

# Neelwafurat website books scrapping
**Note: All the links were collected on 11-02-2023**

In this notebook we will collect all files in onle file, clean isbn column and save it to new file with all data

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
dfs = []
for i in range(1, 27):
    df = pd.read_csv(f'isbn_data\my_books_lib_neelwafurat_arabic_isbn_{i:02d}.csv')
    dfs.append(df)
df = pd.concat(dfs)

In [3]:
def extract_isbn_number(isbn):
    try:
        number = re.findall(r'\d+', isbn)[0]
        return number
    except:
        return np.nan

df['ISBN'] = df['ISBN'].apply(extract_isbn_number)

In [4]:
df.dropna(inplace=True)
df.drop_duplicates(subset='ISBN', inplace=True)

In [5]:
df.head()

                                                Link           ISBN
0  https://www.neelwafurat.com/itempage.aspx?id=l...  9789975355210
4  https://www.neelwafurat.com/itempage.aspx?id=e...  9789773155612
5  https://www.neelwafurat.com/itempage.aspx?id=e...     9771975889
6  https://www.neelwafurat.com/itempage.aspx?id=l...  9789957120360
7  https://www.neelwafurat.com/itempage.aspx?id=l...     1575475278

In [6]:
df.to_csv('all_in_one_diwan_isb_link.csv', index=False)

In [7]:
df.drop('Link', inplace=True, axis=1)
df.to_csv('all_in_one_diwan_isb_only.csv', index=False)