#### Import Main Libraries

In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
import string
import re

#### Import Data and put it in one file

In [2]:
df_1 = pd.read_csv(f'data/goodreads_part_1.csv', encoding='utf-16')
df_2 = pd.read_csv(f'data/goodreads_part_2.csv')
df_3 = pd.read_csv(f'data/goodreads_part_3.csv')

df = pd.concat([df_1, df_2, df_3])

#### Quick data investigation

In [3]:
df.head()

,ISBN,goodreads_id,title,image,goodreads_link,publication_info,number_of_rattings,number_of_reviews,book_rate,number_of_5_stars_rating,...,original_title,book_format,published,language,setting,all_contributors,number_of_editions,currently_reading,to_read,all_genres
0,9786140105232 (ISBN10: 6140105234),13637412,ساق البامبو,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/13637412,"First published May 1, 2012","55,915 ratings","8,774 reviews",4.22,"26,012 (46%)",...,ساق البامبو,"400 pages, Paperback","January 1, 2014 by الدار العربية للعلوم ناشرون",Arabic,"Kuwait, Philippines","سعود السنعوسي,Saud Alsanousi",NaN,"3,177 people are currently reading",39.6k people want to read,"Novels,Fiction,Literature,Contemporary,Drama,S..."
1,(ISBN10: 9770907375),3438000,ثلاثية غرناطة,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/3438000,"First published January 1, 1994","45,598 ratings","7,873 reviews",4.30,"23,774 (52%)",...,ثلاثية غرناطة,"502 pages, Paperback","January 1, 2009 by دار الشروق",Arabic,الأندلس,"رضوى عاشور,Radwa Ashour",Show all 23 editions,"6,400 people are currently reading",64.3k people want to read,"Novels,Fiction,Historical Fiction,Literature,H..."
2,NaN,3554772,عزازيل,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/3554772,"First published January 1, 2008","49,996 ratings","5,633 reviews",4.04,"20,395 (40%)",...,عزازيل,"470 pages, Paperback","January 1, 2009 by دار الشروق",Arabic,NaN,"Youssef Ziedan,يوسف زيدان,Lorenzo Declich (Tra...",Show all 39 editions,"4,716 people are currently reading",46.3k people want to read,"Novels,Fiction,Historical Fiction,Literature,E..."
3,9780435900663 (ISBN10: 0435900668),669780.Season_of_Migration_to_the_North,Season of Migration to the North,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/669780.Sea...,"First published January 1, 1966","25,950 ratings","3,403 reviews",3.71,"6,820 (26%)",...,موسم الهجرة إلى الشمال,"176 pages, Paperback","January 1, 1970 by Heinemann",English,"North Africa, Sudan","Tayeb Salih,Denys Johnson-Davies (Translator)",Show all 70 editions,"1,021 people are currently reading",36.9k people want to read,"Fiction,Africa,Classics,Novels,Sudan,Literatur..."
4,9789953267195,16081961,الأسود يليق بك,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/16081961,"First published January 1, 2012","62,949 ratings","6,047 reviews",3.64,"20,138 (31%)",...,الأسود يليق بك,"331 pages, Paperback","November 9, 2012 by Nawfal",Arabic,NaN,"Ahlam Mosteghanemi,أحلام مستغانمي",Show all 12 editions,"6,329 people are currently reading",62.6k people want to read,"Novels,Romance,Fiction,Literature,Romantic,Lov..."

In [4]:
df.tail()

,ISBN,goodreads_id,title,image,goodreads_link,publication_info,number_of_rattings,number_of_reviews,book_rate,number_of_5_stars_rating,...,original_title,book_format,published,language,setting,all_contributors,number_of_editions,currently_reading,to_read,all_genres
1543,9786144258835,45538874,منتجع الساحرات,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/45538874,"First published January 1, 2015",300 ratings,98 reviews,3.13,27 (9%),...,منتجع الساحرات,"175 pages, Paperback",دار الساقي,Arabic,NaN,"Amir Tag Elsir,أمير تاج السر",Show all 2 editions,17 people are currently reading,528 people want to read,Novels
1544,9786140101722,18195482,قبضة ماء,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/18195482,"First published January 1, 2012",7 ratings,3 reviews,2.14,0 (0%),...,NaN,"240 pages, Paperback","January 1, 2012 by دار الأمان - الرباط",Arabic,NaN,اسمهان الزعيم,Show all editions,2 people are currently reading,11 people want to read,NaN
1545,9789953872599,46199420-the-watchman,The Watchman,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/46199420-t...,"First published February 27, 2007","25,553 ratings","1,178 reviews",4.12,"9,684 (37%)",...,The Watchman,"312 pages, Paperback","September 26, 2007 by Arab Scientific Publishers",NaN,"Los Angeles, California (United States)",Robert Crais,Show all 65 editions,"1,783 people are currently reading",13.1k people want to read,"Mystery,Thriller,Fiction,Crime,Mystery Thrille..."
1546,9781855165298,7748128,الأرجوحة,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/7748128,"First published January 1, 2010",281 ratings,61 reviews,2.67,30 (10%),...,الأرجوحة,"159 pages, Paperback","January 1, 2010 by دار الساقي",Arabic,NaN,بدرية البشر,Show all 3 editions,14 people are currently reading,410 people want to read,Feminism
1547,9953294259,111573602,خيار الصفر,https://d15be2nos83ntc.cloudfront.net/images/n...,https://www.goodreads.com/book/show/111573602,NaN,0 ratings,0 reviews,0.00,0 (0%),...,NaN,"360 pages, Hardcover",الدار العربية للعلوم ناشرون,Arabic,NaN,unknown author,Show all editions,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12705 entries, 0 to 1547
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ISBN                      11460 non-null  object
 1   goodreads_id              12705 non-null  object
 2   title                     12704 non-null  object
 3   image                     12704 non-null  object
 4   goodreads_link            12705 non-null  object
 5   publication_info          11783 non-null  object
 6   number_of_rattings        12704 non-null  object
 7   number_of_reviews         12704 non-null  object
 8   book_rate                 12704 non-null  float64
 9   number_of_5_stars_rating  12704 non-null  object
 10  number_of_4_stars_rating  12704 non-null  object
 11  number_of_3_stars_rating  12704 non-null  object
 12  number_of_2_stars_rating  12704 non-null  object
 13  number_of_1_stars_rating  12704 non-null  object
 14  author_name               12704 non-null  object
 15  author_link               12704 non-null  object
 16  author_no_of_books        11092 non-null  object
 17  author_followers          10605 non-null  object
 18  original_title            7070 non-null   object
 19  book_format               12191 non-null  object
 20  published                 12180 non-null  object
 21  language                  11166 non-null  object
 22  setting                   1704 non-null   object
 23  all_contributors          12704 non-null  object
 24  number_of_editions        12269 non-null  object
 25  currently_reading         9040 non-null   object
 26  to_read                   10527 non-null  object
 27  all_genres                6438 non-null   object
dtypes: float64(1), object(27)
memory usage: 2.8+ MB

In [6]:
df['title'].sort_values()

df[df['title'].duplicated() == True].head(25)

,ISBN,goodreads_id,title,image,goodreads_link,publication_info,number_of_rattings,number_of_reviews,book_rate,number_of_5_stars_rating,...,original_title,book_format,published,language,setting,all_contributors,number_of_editions,currently_reading,to_read,all_genres
940,9771415153,6561626,الله,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/6561626,"First published January 1, 1947","1,101 ratings",173 reviews,3.85,365 (33%),...,الله,"296 pages, Hardcover","January 1, 2009 by دار نهضة مصر للطباعة والنشر",Arabic,NaN,عباس محمود العقاد,Show all 19 editions,209 people are currently reading,"3,532 people want to read","Religion,Philosophy,Islam,Nonfiction,God,Spiri..."
1244,NaN,5607622,قمر على سمرقند,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/5607622,"First published January 1, 2004","13,323 ratings","2,155 reviews",3.87,"4,254 (31%)",...,قمر على سمرقند,"713 pages, Paperback",مريت ، الشروق,Arabic,"Samarkand (Uzbekistan), Bukhara (Uzbekistan), ...","محمد المنسي قنديل,Mohamed Mansi Qandil (a.k.a)",Show all 13 editions,"1,484 people are currently reading",23.3k people want to read,"Novels,Fiction,Literature,Historical Fiction,E..."
1248,(ISBN10: 9770919306),6016941,ماذا علمتني الحياة؟,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/6016941,"First published January 1, 2007","3,597 ratings",498 reviews,3.98,"1,245 (34%)",...,ماذا علمتني الحياة؟.. سيرة ذاتية,"399 pages, Paperback","March 1, 2009 by دار الشروق",Arabic,NaN,جلال أمين,Show all 4 editions,482 people are currently reading,13k people want to read,"Biography,Nonfiction,Autobiography,Literature,..."
1249,NaN,3331793,حكومة الظل,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/3331793,"First published January 1, 2006","8,542 ratings","1,362 reviews",3.89,"3,039 (35%)",...,حكومة الظل,"173 pages, Paperback","March 19, 2007 by الدار العربية للعلوم",Arabic,NaN,Monther Alkabbani,Show all 8 editions,327 people are currently reading,"8,131 people want to read","Novels,Fiction,Literature,Politics,Mystery,His..."
1283,NaN,5607754,انكسار الروح,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/5607754,"First published March 1, 1992","3,166 ratings",602 reviews,3.59,679 (21%),...,انكسار الروح,"233 pages, Paperback","March 1, 1992 by دار الهلال",Arabic,NaN,محمد المنسي قنديل,Show all 5 editions,209 people are currently reading,"4,947 people want to read","Novels,Historical Fiction,Literature,Romantic,..."
1299,9780061122415 (ISBN10: 0061122416),865.The_Alchemist,The Alchemist,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/865.The_Al...,"First published January 1, 1988","2,738,933 ratings","106,364 reviews",3.90,"1,071,435 (39%)",...,O Alquimista,"197 pages, Paperback","May 1, 1993 by HarperCollins",English,"Egypt, Sahara Desert, Tangier (Morocco), Andal...","Paulo Coelho,Alan R. Clarke (Translator)",Show all 738 editions,73k people are currently reading,2m people want to read,"Fiction,Classics,Fantasy,Philosophy,Novels,Spi..."
1307,NaN,11758186,زمن الضباع,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/11758186,"First published December 21, 2010","2,123 ratings",158 reviews,3.93,641 (30%),...,زمن الضباع,"248 pages, Paperback","June 8, 2011 by مكتبة الدار العربية للكتاب",Arabic,NaN,أشرف العشماوي,Show all 6 editions,21 people are currently reading,"2,948 people want to read",Novels
1370,NaN,7285778,كشري مصر,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/7285778,"First published January 1, 2008",809 ratings,137 reviews,3.56,149 (18%),...,كشري مصر,NaN,Book House,NaN,NaN,حسن كمال,Show all 4 editions,16 people are currently reading,978 people want to read,"Short Stories,Fiction,Audiobook,Novels"
1389,9771409174,7712971,سارة,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/7712971,"First published January 1, 1938","3,821 ratings",681 reviews,3.21,644 (16%),...,سارة,"164 pages, Hardcover","January 1, 2008 by نهضة مصر",Arabic,Egypt,عباس محمود العقاد,Show all 31 editions,443 people are currently reading,"5,213 people want to read","Novels,Fiction,Literature,Classics,Audiobook"
1427,NaN,24482936,كلاب الراعي,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/24482936,"First published January 13, 2015","6,626 ratings",674 reviews,4.06,"1,475 (22%)",...,NaN,"355 pages, Paperback","January 13, 2015 by الدار المصرية اللبنانية",NaN,NaN,أشرف العشماوي,Show all 10 editions,208 people are currently reading,"3,912 people want to read","History,Literature,Egypt,Audiobook,Historical"
1485,NaN,17310190,أبو عمر المصري,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/17310190,"Published January 1, 2012","1,946 ratings",319 reviews,3.83,481 (24%),...,NaN,"385 pages, Paperback","January 1, 2012 by دار الشروق",Arabic,NaN,عزالدين شكري فشير,Show all 5 editions,88 people are currently reading,"2,629 people want to read","Novels,Literature,Fiction"
1497,NaN,6604869,دموع على سفوح المجد,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/6604869,"First published January 1, 1984","2,866 ratings",392 reviews,3.71,959 (33%),...,دموع على سفوح المجد,"296 pages, Paperback","December 1, 2003 by دار القلم للطباعة والنشر و...",Arabic,NaN,د.عماد زكي,Show all 8 editions,95 people are currently reading,"1,584 people want to read","Novels,Literature,Fiction"
1510,NaN,7613.Animal_Farm,Animal Farm,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/7613.Anima...,"First published August 17, 1945","3,509,298 ratings","81,284 reviews",3.98,"1,305,904 (37%)",...,NaN,NaN,NaN,NaN,NaN,"George Orwell,Chris Mould (Illustrator),Τζωρτζ...",NaN,NaN,NaN,"Classics,Fiction,Dystopia,Fantasy,Politics,Lit..."
1542,(ISBN10: 9770187852),7670872,حياتي,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/7670872,"First published January 1, 1950","2,026 ratings",435 reviews,4.12,818 (40%),...,حياتي,"368 pages, Paperback","January 1, 2003 by الهيئة المصرية العامة للكتاب",Arabic,Egypt,أحمد أمين,Show all 17 editions,262 people are currently reading,"4,371 people want to read","Biography,Nonfiction,Autobiography,Classics,Hi..."
1588,9781912240166 (ISBN10: 1912240165),39653535-celestial-bodies,Celestial Bodies,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/39653535-c...,"First published January 1, 2010","13,519 ratings","2,382 reviews",3.42,"1,719 (12%)",...,سيدات القمر,"243 pages, Paperback","June 21, 2018 by Sandstone Press",English,"Oman, Middle East","Jokha Alharthi,Marilyn Booth (Translator)",Show all 61 editions,"1,689 people are currently reading",22.4k people want to read,"Fiction,Historical Fiction,Literary Fiction,No..."
1591,NaN,6765874,لا,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/6765874,"First published January 1, 1977",199 ratings,19 reviews,3.87,56 (28%),...,لا,"927 pages, Hardcover","January 1, 1985 by العصر الحديث للنشر",Arabic,NaN,مصطفى أمين,Show all 2 editions,11 people are currently reading,415 people want to read,NaN
1638,NaN,15714287,سرقات مشروعة,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/15714287,"First published December 29, 2011",700 ratings,66 reviews,4.22,344 (49%),...,سرقات مشروعة,Paperback,الدار المصرية اللبنانية,Arabic,NaN,أشرف العشماوي,Show all 3 editions,39 people are currently reading,"3,424 people want to read","History,Nonfiction,Egypt"
1657,NaN,5470.1984,1984,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/5470.1984,"First published June 8, 1949","4,119,828 ratings","98,346 reviews",4.19,"1,949,299 (47%)",...,Nineteen Eighty-Four,"328 pages, Mass Market Paperback","July 1, 1950 by New American Library",English,NaN,George Orwell,Show all 2966 editions,166k people are currently reading,2m people want to read,"Classics,Fiction,Science Fiction,Dystopia,Lite..."
1678,NaN,13553446,قصص الحيوان في القرآن,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/13553446,"First published January 1, 1987",707 ratings,115 reviews,4.24,361 (51%),...,قصص الحيوان في القرآن,"215 pages, Hardcover","January 1, 1987 by دار الريان للتراث",Arabic,NaN,أحمد بهجت,Show all 8 editions,79 people are currently reading,990 people want to read,"Religion,Islam,Media Tie In,Literature,Nonfict..."
1720,NaN,12566364,قصص الأنبياء,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/12566364,"First published January 1, 2002",189 ratings,12 reviews,4.20,110 (58%),...,NaN,"701 pages, Hardcover",NaN,Arabic,NaN,محمود المصري,Show all editions,61 people are currently reading,785 people want to read,Religion
1745,(ISBN10: 9953366195),15161288,الضوء الأزرق,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/15161288,"First published January 1, 2001","4,728 ratings","1,083 reviews",3.96,"1,848 (39%)",...,الضوء الأزرق,182 pages,"January 1, 2004 by المؤسسة العربية للدراسات وا...",Arabic,NaN,حسين البرغوثي,Show all 11 editions,337 people are currently reading,"5,927 people want to read","Biography,Nonfiction,Literature,Philosophy,Aud..."
1775,(ISBN10: 9770914878),7044450,التنظيم السري,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/7044450,"First published January 1, 1984",937 ratings,118 reviews,3.51,152 (16%),...,التنظيم السري,172 pages,"January 1, 2006 by دار الشروق",Arabic,NaN,"Naguib Mahfouz,نجيب محفوظ",Show all 9 editions,55 people are currently reading,"1,203 people want to read","Short Stories,Novels,Fiction,Literature"
1779,(ISBN10: 9770915777),7044433,صباح الورد,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/7044433,"First published January 1, 1987",950 ratings,124 reviews,3.55,161 (16%),...,صباح الورد,152 pages,"January 1, 2006 by دار الشروق",Arabic,Egypt,"Naguib Mahfouz,Naguib Mahfouz",Show all 9 editions,40 people are currently reading,"1,192 people want to read","Short Stories,Novels,Fiction,Literature"
1783,(ISBN10: 977091584X),6610264,الباقي من الزمن ساعة,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/6610264,"First published January 1, 1982","2,171 ratings",335 reviews,3.63,408 (18%),...,الباقي من الزمن ساعة,"151 pages, Paperback","January 1, 2006 by دار الشروق",Arabic,NaN,"Naguib Mahfouz,Naguib Mahfouz",Show all 20 editions,71 people are currently reading,"2,332 people want to read","Fiction,Novels,Literature,Egypt,Egyptian Liter..."
1794,(ISBN10: 9770916064),6610283,الفجر الكاذب,https://images-na.ssl-images-amazon.com/images...,https://www.goodreads.com/book/show/6610283,"First published January 1, 1988",860 ratings,135 reviews,3.53,133 (15%),...,الفجر الكاذب,"227 pages, Paperback","January 1, 2009 by دار الشروق",Arabic,NaN,"Naguib Mahfouz,Naguib Mahfouz",Show all 10 editions,53 people are currently reading,"1,226 people want to read","Short Stories,Fiction,Literature"

In [7]:
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

ISBN                         1245
goodreads_id                    0
title                           1
image                           1
goodreads_link                  0
publication_info              922
number_of_rattings              1
number_of_reviews               1
book_rate                       1
number_of_5_stars_rating        1
number_of_4_stars_rating        1
number_of_3_stars_rating        1
number_of_2_stars_rating        1
number_of_1_stars_rating        1
author_name                     1
author_link                     1
author_no_of_books           1613
author_followers             2100
original_title               5635
book_format                   514
published                     525
language                     1539
setting                     11001
all_contributors                1
number_of_editions            436
currently_reading            3665
to_read                      2178
all_genres                   6267
dtype: int64

In [9]:
df.describe(include='all')

,ISBN,goodreads_id,title,image,goodreads_link,publication_info,number_of_rattings,number_of_reviews,book_rate,number_of_5_stars_rating,...,original_title,book_format,published,language,setting,all_contributors,number_of_editions,currently_reading,to_read,all_genres
count,11460,12705,12704,12704,12705,11783,12704,12704,12704.000000,12704,...,7070,12191,12180,11166,1704,12704,12269,9040,10527,6438
unique,11460,12452,11796,10857,12452,2704,4009,2051,NaN,6233,...,6141,1797,7376,28,863,8197,642,1559,3518,4118
top,9786140105232 (ISBN10: 6140105234),13637412,1984,https://d15be2nos83ntc.cloudfront.net/images/n...,https://www.goodreads.com/book/show/13637412,"Published January 1, 2019",0 ratings,0 reviews,NaN,0 (0%),...,Nineteen Eighty-Four,Paperback,الدار العربية للعلوم ناشرون,Arabic,Egypt,unknown author,Show all editions,1 person is currently reading,3 people want to read,Novels
freq,1,2,9,1595,2,269,1561,2524,NaN,2485,...,10,622,342,10509,195,380,4940,930,201,239
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.251579,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330783,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.160000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.700000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Column by Column investigation

#### Title Column

In [10]:
df['title'].isnull().sum()

1

In [11]:
df.dropna(subset='title', inplace=True) # delete the row with empty title"

#### Image Column
remove image column (unnecessary for the analysis)

In [12]:
df.drop('image', inplace=True, axis=1)

#### goodreads link Column
remove goodreads link column (unnecessary for the analysis)

In [13]:
df.drop('goodreads_link', inplace=True, axis=1)

#### Publication Info Coulmn

In [14]:
df['publication_info'].isnull().sum()

921

In [15]:
df['publication_info'].value_counts()

Published January 1, 2019            269
Published January 1, 2021            262
First published January 1, 2009      242
First published January 1, 2008      224
First published January 1, 2012      222
                                    ...
First published March 29, 2011         1
First published March 5, 2020          1
First published October 5, 2021        1
Published September 13, 2020           1
First published February 27, 2007      1
Name: publication_info, Length: 2704, dtype: int64

#### Number Of Rattings Coulmn

In [16]:
df['number_of_rattings'].isnull().sum()

0

In [17]:
df['number_of_rattings'].value_counts()

0 ratings          1561
1 rating            535
2 ratings           404
3 ratings           288
4 ratings           212
                   ...
28,633 ratings        1
6,983 ratings         1
641,851 ratings       1
5,448 ratings         1
25,553 ratings        1
Name: number_of_rattings, Length: 4009, dtype: int64

#### Number Of Reviews Coulmn

In [18]:
df['number_of_reviews'].isnull().sum()

0

In [19]:
df['number_of_reviews'].value_counts()

0 reviews          2524
1 review            878
2 reviews           481
3 reviews           338
4 reviews           255
                   ...
54,169 reviews        1
893 reviews           1
178,948 reviews       1
1,198 reviews         1
1,178 reviews         1
Name: number_of_reviews, Length: 2051, dtype: int64

#### Book Rate Coulmn

In [20]:
df['book_rate'].isnull().sum()

0

In [21]:
df['book_rate'].value_counts()

0.00    1561
4.00     423
3.00     341
5.00     294
3.50     174
        ...
2.06       1
1.88       1
2.46       1
2.49       1
1.83       1
Name: book_rate, Length: 295, dtype: int64

#### Number Of 5 Stars Rating Coulmn

In [22]:
df['number_of_5_stars_rating'].isnull().sum()

0

In [23]:
df['number_of_5_stars_rating'].value_counts()

0 (0%)         2485
1 (100%)        175
1 (50%)         147
1 (33%)          84
1 (25%)          68
               ...
49 (57%)          1
1,625 (42%)       1
460 (54%)         1
521 (43%)         1
9,684 (37%)       1
Name: number_of_5_stars_rating, Length: 6233, dtype: int64

#### Number Of 4 Stars Rating Coulmn

In [24]:
df['number_of_4_stars_rating'].isnull().sum()

0

In [25]:
df['number_of_4_stars_rating'].value_counts()

0 (0%)          2675
1 (100%)         121
1 (50%)          108
1 (33%)           91
1 (25%)           81
                ...
44 (27%)           1
10,516 (35%)       1
36 (51%)           1
520 (35%)          1
46 (16%)           1
Name: number_of_4_stars_rating, Length: 6064, dtype: int64

#### Number Of 3 Stars Rating Coulmn

In [26]:
df['number_of_3_stars_rating'].isnull().sum()

0

In [27]:
df['number_of_3_stars_rating'].value_counts()

0 (0%)         2647
1 (100%)        140
1 (50%)         129
1 (33%)         109
1 (25%)          84
               ...
26 (35%)          1
166 (25%)         1
432 (27%)         1
2,139 (21%)       1
75 (26%)          1
Name: number_of_3_stars_rating, Length: 5872, dtype: int64

#### Number Of 2 Stars Rating Coulmn

In [28]:
df['number_of_2_stars_rating'].isnull().sum()

0

In [29]:
df['number_of_2_stars_rating'].value_counts()

0 (0%)        3405
1 (50%)         79
1 (33%)         76
1 (20%)         74
1 (25%)         66
              ...
985 (20%)        1
44 (8%)          1
726 (9%)         1
1,431 (6%)       1
60 (21%)         1
Name: number_of_2_stars_rating, Length: 4322, dtype: int64

#### Number Of 1 Stars Rating Coulmn

In [30]:
df['number_of_1_stars_rating'].isnull().sum()

0

In [31]:
df['number_of_1_stars_rating'].value_counts()

0 (0%)        3869
1 (1%)          97
1 (2%)          89
1 (3%)          70
1 (5%)          69
              ...
1,263 (2%)       1
68 (4%)          1
3,439 (1%)       1
150 (1%)         1
70 (24%)         1
Name: number_of_1_stars_rating, Length: 2982, dtype: int64

#### Author Name Coulmn

In [32]:
df['author_name'].isnull().sum()

0

In [33]:
df['author_name'].value_counts()

unknown author         380
أحمد خالد توفيق        125
Naguib Mahfouz          81
Fyodor Dostoevsky       66
مصطفى محمود             58
                      ...
سهام ملكاوي (تأليف)      1
سامية مصطفى عياش         1
بيير بيار (المؤلف)       1
Euripides                1
Robert Crais             1
Name: author_name, Length: 6752, dtype: int64

#### Author Link Coulmn
remove author link column (unnecessary for the analysis)

In [34]:
df.drop('author_link', inplace=True, axis=1)

#### Author No Of Books Coulmn

In [35]:
df['author_no_of_books'].isnull().sum()

1612

In [36]:
df['author_no_of_books'].value_counts()

2         776
3         559
4         501
5         383
3m        381
         ...
1,952       1
189         1
431         1
1,134       1
3,775       1
Name: author_no_of_books, Length: 682, dtype: int64

#### Author Followers Coulmn

In [37]:
df['author_followers'].isnull().sum()

2099

In [38]:
df['author_followers'].value_counts()

7 followers        415
1 follower         339
2 followers        241
3 followers        189
4 followers        165
                  ...
330 followers        1
2,238 followers      1
1,586 followers      1
477 followers        1
3,932 followers      1
Name: author_followers, Length: 1513, dtype: int64

#### Original Title Coulmn

In [39]:
df['original_title'].isnull().sum()

5634

In [40]:
df['original_title'].value_counts()

Nineteen Eighty-Four                  10
Jane Eyre: An Autobiography            8
Βίος και πολιτεία του Αλέξη Ζορμπά     8
L'Étranger                             8
Animal Farm: A Fairy Story             7
                                      ..
هليوبوليس                              1
العصف والريحان: مذكرات (1981-2015)     1
The Englishwoman in Egypt              1
Les opinions et les croyances          1
The Watchman                           1
Name: original_title, Length: 6141, dtype: int64

#### Book Format Coulmn

In [41]:
df['book_format'].isnull().sum()

513

In [42]:
df['book_format'].value_counts()

Paperback                622
Hardcover                251
160 pages, Paperback     148
ebook                    147
208 pages, Paperback     114
                        ...
1001 pages, Paperback      1
960 pages, Paperback       1
1301 pages, Paperback      1
24 pages                   1
435 pages                  1
Name: book_format, Length: 1797, dtype: int64

#### Published Coulmn

In [43]:
df['published'].isnull().sum()

524

In [44]:
df['published'].value_counts()

الدار العربية للعلوم ناشرون                         342
ektab                                               136
January 1, 2021 by دار خطوط وظلال للنشر والتوزيع     73
January 1, 2008 by دار الشروق                        60
January 1, 2020                                      59
                                                   ...
July 1, 2019 by بيت الياسمين للنشر والتوزيع           1
September 1, 2017 by دار الفارابي                     1
October 20, 2021 by دار إبداع للنشر والتوزيع          1
May 15, 2011 by الدار العربية للعلوم ناشرون           1
September 26, 2007 by Arab Scientific Publishers      1
Name: published, Length: 7376, dtype: int64

#### Language Coulmn

In [45]:
df['language'].isnull().sum()

1538

In [46]:
df['language'].value_counts()

Arabic                                    10509
English                                     490
French                                       97
Hindi                                        11
Turkish                                       8
German                                        8
Spanish; Castilian                            6
Persian                                       5
Italian                                       4
Dutch; Flemish                                4
Aragonese                                     3
Altaic (Other)                                2
Portuguese                                    2
Avaric                                        2
Multiple languages                            2
Estonian                                      1
Oxford Introductions to Language Study        1
Romanian                                      1
Latvian                                       1
Arapaho                                       1
Malayalam                                     1
Arawak                                        1
Japanese                                      1
Chinese                                       1
Abkhazian                                     1
Danish                                        1
Apache languages                              1
Polish                                        1
Name: language, dtype: int64

#### Setting Coulmn
we can drop this column most of the data is null

In [47]:
df['setting'].isnull().sum()

11000

In [48]:
df['setting'].value_counts()

Egypt                                                     195
Cairo (Egypt)                                              34
England                                                    20
Paris (France)                                             18
The United States of America                               16
                                                         ...
Paris (France, 2022)                                        1
North Africa, Algeria                                       1
Persia, Egypt, India, Arabia, Thailand, Southeast Asia      1
Mallorca (Spain)                                            1
Chipping Cleghorn, England                                  1
Name: setting, Length: 863, dtype: int64

In [49]:
df.drop('setting', axis=1, inplace=True)

#### All Contributors Coulmn

In [50]:
df['all_contributors'].isnull().sum()

0

In [51]:
df['all_contributors'].value_counts()

unknown author                                         380
أحمد خالد توفيق                                        120
مصطفى محمود                                             57
Naguib Mahfouz,نجيب محفوظ                               52
Tawfiq Al-Hakim,توفيق الحكيم                            45
                                                      ...
وسام طارق                                                1
José Mauro de Vasconcelos,أشرف القرقني (Translator)      1
مصطفى الحسيني                                            1
لطيفة خالد                                               1
Robert Crais                                             1
Name: all_contributors, Length: 8197, dtype: int64

#### Number Of Editions Coulmn

In [52]:
df['number_of_editions'].isnull().sum()

435

In [53]:
df['number_of_editions'].value_counts()

Show all editions         4940
Show all 2 editions       1603
Show all 3 editions        827
Show all 4 editions        512
Show all 5 editions        332
                          ...
Show all 2116 editions       1
Show all 405 editions        1
Show all 1501 editions       1
Show all 399 editions        1
Show all 439 editions        1
Name: number_of_editions, Length: 642, dtype: int64

#### Currently Reading Coulmn

In [54]:
df['currently_reading'].isnull().sum()

3664

In [55]:
df['currently_reading'].value_counts()

1 person is currently reading         930
2 people are currently reading        506
3 people are currently reading        382
4 people are currently reading        293
5 people are currently reading        224
                                     ...
923 people are currently reading        1
2,525 people are currently reading      1
1,076 people are currently reading      1
35.4k people are currently reading      1
1,783 people are currently reading      1
Name: currently_reading, Length: 1559, dtype: int64

#### To Read Coulmn

In [56]:
df['to_read'].isnull().sum()

2177

In [57]:
df['to_read'].value_counts()

3 people want to read        201
4 people want to read        160
2 people want to read        151
5 people want to read        151
6 people want to read        121
                            ...
1,503 people want to read      1
309k people want to read       1
3,751 people want to read      1
2,276 people want to read      1
460 people want to read        1
Name: to_read, Length: 3518, dtype: int64

#### All Genres Coulmn

In [58]:
df['all_genres'].isnull().sum()

6266

In [59]:
df['all_genres'].value_counts()

Novels                                                                                   239
Novels,Fiction                                                                            85
Fiction                                                                                   76
Poetry                                                                                    57
Novels,Literature                                                                         51
                                                                                        ...
Philosophy,Logic                                                                           1
Fiction,Japan,Historical Fiction,Japanese Literature,Literature,Literary Fiction,Asia      1
Nonfiction,Psychology,Self Help,Science,Business,Audiobook,Personal Development            1
Nonfiction,Literature,Egypt                                                                1
Mystery,Thriller,Fiction,Crime,Mystery Thriller,Suspense,Detective                         1
Name: all_genres, Length: 4118, dtype: int64

## After Column by Column investigation:
- publication info needs to be cleaned and extract date of publication
- number of ratings needs to be converted to an integer field
- number of reviews needs to be converted to an integer field
- for each number of rating starts extracting the number and convert it to an integer field
- fill null for author number of books and convert the field to integer
- fill null for the author's number of followers and convert the field to an integer
- book format column needs to be cleaned
- extract publisher + publishing date form published column
- extract if the book is translated or not using all contributors column
- clean number of editions column + fill null + convert it to integer
- clean number of reading column + fill null + convert it to integer
- clean number of to read column + fill null + convert it to integer
- fill null values in all genres
- further cleaning will be done after a deep investigation through the cleaning

## Clean Data and Feature Engineering

In the next cells I will fill publication Info then extract publisher and first date of publish then try to fill the missing data from publication info using first date of publish and vice versa then complete the data using the mode

#### Publication Info & Published Coulmns

In [60]:
def extract_date(date_str):
    if date_str is not np.nan:
        date_str = date_str.lower()
        date = date_str.split('published')[1].strip()
        return date
    return np.nan

df['publication_info'] = df['publication_info'].apply(extract_date)

In [61]:
df['publication_info'].isnull().sum()

921

In [62]:
def extract_date_and_publisher(data):
    if data is not np.nan:
        data = data.lower().split('by')
        if len(data) > 1:
            return pd.Series([data[0], data[1]])
        else:
            return pd.Series([np.nan, data[0]])
        return date
    return pd.Series([np.nan, np.nan])
df[['first_published_date', 'publisher']] = df['published'].apply(extract_date_and_publisher)

In [63]:
df['first_published_date'].isnull().sum()

2262

Fill publication info using first published date

In [64]:
def fill_publication_info_using_first_published_date(row):
    if row['publication_info'] is np.nan:
        return row['first_published_date']
    return row['publication_info']
df['publication_info'] = df.apply(fill_publication_info_using_first_published_date, axis=1)

In [65]:
df['publication_info'].isnull().sum() # number of nan after filling

921

After trying to fill using first_published_date it doesn't change any thing so I will fill with mode then fill first_published_date using puplication_info then convert both to date fields

In [66]:
df['publication_info'].fillna(df['publication_info'].mode()[0], inplace=True)

In [67]:
def first_published_date_using_fill_publication_info(row):
    if row['first_published_date'] is np.nan:
        return row['publication_info']
    return row['first_published_date']
df['first_published_date'] = df.apply(first_published_date_using_fill_publication_info, axis=1)

In [68]:
df['first_published_date'].fillna(df['first_published_date'].mode()[0], inplace=True)

Convet publication_info and first_published_date it to datetime field

In [69]:
def publication_info_to_date(date):
    try:
        return datetime.strptime(date.title(), '%B %d, %Y')
    except Exception:
        return df['publication_info'].mode()[0]
df['publication_info'] = df['publication_info'].apply(publication_info_to_date)
df['publication_info'] = pd.to_datetime(df['publication_info'], errors = 'coerce')

In [70]:
def first_published_date_to_date(date):
    try:
        return datetime.strptime(date.title(), '%B %d, %Y')
    except Exception:
        return df['first_published_date'].mode()[0]
df['first_published_date'] = df['first_published_date'].apply(first_published_date_to_date)
df['first_published_date'] = pd.to_datetime(df['first_published_date'], errors = 'coerce')

Fill with the mode after errors from converting field to datetime became nulls

In [71]:
df['publication_info'].fillna(df['publication_info'].mode()[0], inplace=True)
df['first_published_date'].fillna(df['first_published_date'].mode()[0], inplace=True)

Fill the publisher with the mode

In [72]:
df['publisher'].isnull().sum()

524

In [73]:
df['publisher'].fillna(df['publisher'].mode()[0], inplace=True)

Drop the published column after extracting info

In [74]:
df.drop('published', axis=1, inplace=True)

#### Number Of Rating Coulmn

In [75]:
def get_numbers(rating):
    return int(''.join(re.findall('\d+', rating)))

df['number_of_rattings'] = df['number_of_rattings'].apply(get_numbers)

#### Number Of Reviews Coulmn

In [76]:
df['number_of_reviews'] = df['number_of_reviews'].apply(get_numbers)

In the following cells I will clean number of stars rating for (5,4,3,2,1) stars by removing the percentage and extracting the number then converting to integer

#### Number Of 5 Stars Rating Coulmn

In [77]:
def extract_number_of_ratings(rating):
    rating = rating.split('(', 1)[0]
    return int(''.join(re.findall('\d+', rating)))

df['number_of_5_stars_rating'] = df['number_of_5_stars_rating'].apply(extract_number_of_ratings)

#### Number Of 4 Stars Rating Coulmn

In [78]:
df['number_of_4_stars_rating'] = df['number_of_4_stars_rating'].apply(extract_number_of_ratings)

#### Number Of 3 Stars Rating Coulmn

In [79]:
df['number_of_3_stars_rating'] = df['number_of_3_stars_rating'].apply(extract_number_of_ratings)

#### Number Of 2 Stars Rating Coulmn

In [80]:
df['number_of_2_stars_rating'] = df['number_of_2_stars_rating'].apply(extract_number_of_ratings)

#### Number Of 1 Stars Rating Coulmn

In [81]:
df['number_of_1_stars_rating'] = df['number_of_1_stars_rating'].apply(extract_number_of_ratings)

#### Author Number Of Books Coulmn
Fill the nan with 1 becouse at least the author own this book

In [82]:
def handle_author_no_of_books(no_of_books):
    if no_of_books is not np.nan:
        return int(''.join(re.findall('\d+', no_of_books)))
    return 1

df['author_no_of_books'] = df['author_no_of_books'].apply(handle_author_no_of_books)

#### Author Followers Coulmn
Extract number of followers from string and if nan replace it with 0 followers

In [83]:
def extract_followers(followers):
    if followers is not np.nan:
        return int(''.join(re.findall('\d+', followers)))
    return 0

df['author_followers'] = df['author_followers'].apply(extract_followers)

#### Original Title Coulmn
In this column if the book is translated the original title will apear if not I will fill it with the title

In [84]:
def fill_original_title(row):
    if row['original_title'] is np.nan:
        return row['title']
    return row['original_title']

df['original_title'] = df.apply(fill_original_title, axis=1)

#### Book Format Coulmn
In this section I will extract book type and number of pages and fill null for the new columns

In [85]:
df['book_format'].isnull().sum()

513

Extract book type and number of pages from book_format column

In [86]:
def get_book_type_and_number_of_pages(book_format):
    if book_format is not np.nan:
        book_format = book_format.split(',')
        if len(book_format) > 1:
            return pd.Series([book_format[0], book_format[1].strip()])
        return pd.Series([np.nan, book_format[0].strip()])
    return pd.Series([np.nan, np.nan])
df[['no_of_papers', 'book_type']] = df['book_format'].apply(get_book_type_and_number_of_pages)

some book_type rows get number of pages so if pages in book_type column assign it to no_of_pages column

In [87]:
def clean_book_type_and_no_of_paper(row):
    if type(row['book_type']) != type(np.nan):
        if 'pages' in row['book_type']:
            return pd.Series([row['book_type'], np.nan])
    return pd.Series([row['no_of_papers'], row['book_type']])
df[['no_of_papers', 'book_type']] = df.apply(clean_book_type_and_no_of_paper, axis=1)

In [88]:
df[['title','book_format','no_of_papers', 'book_type']]

,title,book_format,no_of_papers,book_type
0,ساق البامبو,"400 pages, Paperback",400 pages,Paperback
1,ثلاثية غرناطة,"502 pages, Paperback",502 pages,Paperback
2,عزازيل,"470 pages, Paperback",470 pages,Paperback
3,Season of Migration to the North,"176 pages, Paperback",176 pages,Paperback
4,الأسود يليق بك,"331 pages, Paperback",331 pages,Paperback
...,...,...,...,...
1543,منتجع الساحرات,"175 pages, Paperback",175 pages,Paperback
1544,قبضة ماء,"240 pages, Paperback",240 pages,Paperback
1545,The Watchman,"312 pages, Paperback",312 pages,Paperback
1546,الأرجوحة,"159 pages, Paperback",159 pages,Paperback
1547,خيار الصفر,"360 pages, Hardcover",360 pages,Hardcover

Limit book type to the main categories

In [89]:
df['book_type'].value_counts()

Paperback                9277
Hardcover                 955
ebook                     242
Mass Market Paperback      81
Unknown Binding            39
Kindle Edition             25
paperback                  20
kindle_edition              7
Audiobook                   6
Tankobon Softcover          4
غلاف كرتوني                 3
Paperback Bunko             2
Library Binding             2
غلاف عادي                   2
Board book                  2
perfect                     2
Book                        1
غلاف عادي، 24×17،           1
hardcover                   1
PDF                         1
CD-ROM                      1
Audio CD                    1
hard cover                  1
book                        1
Ebook & Paperback           1
Spiral-bound                1
Board Book                  1
Perfect Paperback           1
A5                          1
paper book                  1
paperback_shinsho           1
papperback                  1
Novelty Book                1
Office Product              1
Poche                       1
Staple Bound                1
رواية                       1
Name: book_type, dtype: int64

In [90]:
to_be_replaced = {
    'paperback': 'Paperback', 
    'kindle_edition': 'Kindle Edition',
}
df['book_type'].replace(to_be_replaced, inplace=True)

In [91]:
def remove_unnecessary_book_types(book_type):
    if book_type not in ['Paperback', 'Hardcover', 'Mass Market Paperback', 'Kindle Edition', 'Audiobook']:
        return 'Paperback'
    return book_type

df['book_type'] = df['book_type'].apply(remove_unnecessary_book_types)

Extract number of pages and convert the column to integer and then fill the column null with the median

In [92]:
def extract_number_of_pages(no_of_pages):
    if type(no_of_pages) != type(np.nan):
        return int(''.join(re.findall('\d+', no_of_pages)))
    return np.nan

df['no_of_papers'] = df['no_of_papers'].apply(extract_number_of_pages)

In [93]:
df['no_of_papers'].isnull().sum()

1588

In [94]:
df['no_of_papers'].fillna(int(df['no_of_papers'].median()), inplace=True)

Remove book_format column after extracting all the needed info

In [95]:
df.drop('book_format', axis=1, inplace=True)

#### Language Coulmn
In this column, we will fill the nulls by finding English letters in the title if found then English if not then Arabic book then remove all other languages because in this analysis we want to target Arabic books only then remove the language column because it only contains one value which is Arabic

In [96]:
df['language'].isnull().sum()

1538

In [97]:
def book_language_from_book_title(row):
    if row['language'] is np.nan:
        if any([letter in row['title'].lower() for letter in string.ascii_lowercase]):
            return 'English'
        else:
            return 'Arabic'
    return row['language']

df['language'] = df.apply(book_language_from_book_title, axis=1)

In [98]:
df['language'].value_counts()

Arabic                                    11752
English                                     785
French                                       97
Hindi                                        11
Turkish                                       8
German                                        8
Spanish; Castilian                            6
Persian                                       5
Italian                                       4
Dutch; Flemish                                4
Aragonese                                     3
Altaic (Other)                                2
Portuguese                                    2
Avaric                                        2
Multiple languages                            2
Estonian                                      1
Oxford Introductions to Language Study        1
Romanian                                      1
Latvian                                       1
Arapaho                                       1
Malayalam                                     1
Arawak                                        1
Japanese                                      1
Chinese                                       1
Abkhazian                                     1
Danish                                        1
Apache languages                              1
Polish                                        1
Name: language, dtype: int64

In [99]:
def convert_non_arabic_langauge_books_to_nan(language):
    if language != 'Arabic':
        return np.nan
    return language
df['language'] = df['language'].apply(convert_non_arabic_langauge_books_to_nan)

In [100]:
df.dropna(subset='language', inplace=True)

In [101]:
df.drop('language', axis=1, inplace=True)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11752 entries, 0 to 1547
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ISBN                      10575 non-null  object
 1   goodreads_id              11752 non-null  object
 2   title                     11752 non-null  object
 3   publication_info          11752 non-null  datetime64[ns]
 4   number_of_rattings        11752 non-null  int64
 5   number_of_reviews         11752 non-null  int64
 6   book_rate                 11752 non-null  float64
 7   number_of_5_stars_rating  11752 non-null  int64
 8   number_of_4_stars_rating  11752 non-null  int64
 9   number_of_3_stars_rating  11752 non-null  int64
 10  number_of_2_stars_rating  11752 non-null  int64
 11  number_of_1_stars_rating  11752 non-null  int64
 12  author_name               11752 non-null  object
 13  author_no_of_books        11752 non-null  int64
 14  author_followers          11752 non-null  int64
 15  original_title            11752 non-null  object
 16  all_contributors          11752 non-null  object
 17  number_of_editions        11351 non-null  object
 18  currently_reading         8502 non-null   object
 19  to_read                   9917 non-null   object
 20  all_genres                5954 non-null   object
 21  first_published_date      11752 non-null  datetime64[ns]
 22  publisher                 11752 non-null  object
 23  no_of_papers              11752 non-null  float64
 24  book_type                 11752 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(9), object(12)
memory usage: 2.3+ MB

#### All Contributors Coulmn
In this column I will extract if the book is translated or not and who is the translator for the book

In [103]:
def get_translated_books(contributors):
    contributors = contributors.split(',')
    for contributor in contributors:
        if 'Translator' in contributor or 'ترجمة' in contributor:
            if 'Translator' in contributor:
                translator = contributor.split('Translator')[0].strip().replace('(', '').replace(')', '').replace('\xa0', '')
            else:
                translator = contributor.split('ترجمة')[0].strip().replace('(', '').replace(')', '').replace('\xa0', '')
            return pd.Series([True, translator])
    return pd.Series([False, np.nan])

df[['is_translated', 'translator']] = df['all_contributors'].apply(get_translated_books)

#### Number Of Editions Coulmn
In this column, I will extract the number of the edition of the books and if null give it 1 because at least this book counts as the original edition

In [104]:
def clean_number_of_editions(edition):
    if edition is not np.nan:
        try:
            return int(''.join(re.findall('\d+', edition)))
        except Exception:
            return 1
    return 1

df['number_of_editions'] = df['number_of_editions'].apply(clean_number_of_editions)

#### Currently Reading Coulmn
In this column, I will extract the number of currently reading and if null give him 0 currently reading

In [105]:
def extract_currently_reading(currently_reading):
    if currently_reading is not np.nan:
        currently_reading = currently_reading.replace(' people are currently reading', '').replace(' person is currently reading', '').replace(',', '')
        if 'k' in currently_reading:
            currently_reading = int(float(currently_reading.replace('k', '')) * 1000)
        elif 'm' in currently_reading:
            currently_reading = int(float(currently_reading.replace('m', '')) * 1000000)
        else:
            currently_reading = int(currently_reading)
        return currently_reading
    return 0


df['currently_reading'] = df['currently_reading'].apply(extract_currently_reading)

#### To Read Coulmn
In this column, I will extract the number of to read and if null give him 0 to read

In [106]:
def extract_to_read(to_read):
    if to_read is not np.nan:
        to_read = to_read.replace(' people want to read', '').replace(' person wants to read', '').replace(',', '')
        if 'k' in to_read:
            to_read = int(float(to_read.replace('k', '')) * 1000)
        elif 'm' in to_read:
            to_read = int(float(to_read.replace('m', '')) * 1000000)
        else:
            to_read = int(to_read)
        return to_read
    return 0
df['to_read'] = df['to_read'].apply(extract_to_read)

#### All Genres Coulmn

In [107]:
all_important_generes = ['Novels', 'Philosophy', 'Nonfiction', 'Poetry', 'Literature', 'Fiction', 'Biography', 'Short Stories', 'Mystery', 'History', 'Religion', 'Childrens', 'Classics', 'Fantasy', 'Politics', 'Human Development', 'Psychology', 'Business', 'Thriller', 'Crime', 'Horror', 'Sports', 'Plays', 'Romance']
def extract_main_sub_genres(all_genres):
    if all_genres is not np.nan:
        all_genres = all_genres.split(',')
        main_genre = None
        sub_genre = None
        
        if len(all_genres) == 1:
            main_genre = sub_genre = all_genres[0]
        else:
            # fill main genre
            for genere in all_important_generes:
                if genere in all_genres:
                    main_genre = genere
                    all_genres.remove(genere)
                    break
            if not main_genre:
                main_genre = all_genres[0]
                all_genres.remove(all_genres[0])

            # fill sub genre
            if len(all_genres) == 1:
                sub_genre = all_genres[0]
            else:
                for genere in all_important_generes:
                    if genere in all_genres:
                        sub_genre = genere
                        break
                if not sub_genre:
                    sub_genre = all_genres[0]
        return pd.Series([main_genre, sub_genre])
    return pd.Series([np.nan, np.nan])
df[['main_genre', 'sub_genre']] = df['all_genres'].apply(extract_main_sub_genres)

In [108]:
df['sub_genre'].value_counts()

Literature            1739
Fiction               1067
Nonfiction             373
Mystery                310
Novels                 238
                      ...
Turkish                  1
Theory                   1
Medicine                 1
British Literature       1
Sports                   1
Name: sub_genre, Length: 138, dtype: int64

In [109]:
df['all_genres'].isnull().sum()

5798

I will try to train machine learning and deep learning algorithms to predict book genre based on title to fill the null rows

In [110]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load the books_df data into a pandas dataframe
books_df = df[df['all_genres'].isnull() == False][['title', 'main_genre']]

# Split the data into training and testing sets
train_data, test_data, train_labels, test_labels = train_test_split(books_df["title"], books_df["main_genre"], test_size=0.2, random_state=42)

# Convert the book titles into a bag-of-words representation
vectorizer = CountVectorizer()
train_vectors = vectorizer.fit_transform(train_data)
test_vectors = vectorizer.transform(test_data)

# Train a SVM classifier on the training data
clf = SVC(kernel='linear')
clf.fit(train_vectors, train_labels)

# Predict the book genres for the test data
predictions = clf.predict(test_vectors)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(test_labels, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.5247691015952981

In [111]:
from keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from keras.layers import Embedding, Conv1D, GlobalMaxPooling1D, Dense
from keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

# Load the books_df data
books_df = df[df['all_genres'].isnull() == False][['title', 'main_genre']]

# Convert the book genres into numerical representations
encoder = LabelEncoder()
books_df["genre_encoded"] = encoder.fit_transform(books_df["main_genre"])

# Split the data into training and testing sets
train_data, test_data, train_labels, test_labels = train_test_split(books_df["title"], books_df["genre_encoded"], test_size=0.2, random_state=47)

# Convert the book titles into numerical representations
num_words = 5000
tokenizer = Tokenizer(num_words=num_words)
tokenizer.fit_on_texts(train_data)
train_sequences = tokenizer.texts_to_sequences(train_data)
test_sequences = tokenizer.texts_to_sequences(test_data)
max_sequence_length = max([len(seq) for seq in train_sequences + test_sequences])
train_data = pad_sequences(train_sequences, maxlen=max_sequence_length)
test_data = pad_sequences(test_sequences, maxlen=max_sequence_length)

# Build a Convolutional Neural Network
model = Sequential()
model.add(Embedding(num_words, 128, input_length=max_sequence_length))
model.add(Conv1D(128, 3, activation='relu'))
model.add(GlobalMaxPooling1D())
model.add(Dense(128, activation='relu'))
model.add(Dense(len(encoder.classes_), activation='softmax'))
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model on the training data
model.fit(train_data, train_labels, epochs=10, batch_size=32)

# Predict the book genres for the test data
predictions = np.argmax(model.predict(test_data), axis=1)

# Calculate the accuracy of the model
accuracy = accuracy_score(test_labels, predictions)
print("Accuracy:", accuracy)

Epoch 1/10
149/149 [==============================] - 4s 19ms/step - loss: 2.1972 - accuracy: 0.4422
Epoch 2/10
149/149 [==============================] - 3s 20ms/step - loss: 1.7087 - accuracy: 0.5144
Epoch 3/10
149/149 [==============================] - 3s 19ms/step - loss: 1.3017 - accuracy: 0.6454
Epoch 4/10
149/149 [==============================] - 3s 20ms/step - loss: 0.9123 - accuracy: 0.7667
Epoch 5/10
149/149 [==============================] - 3s 22ms/step - loss: 0.6608 - accuracy: 0.8299
Epoch 6/10
149/149 [==============================] - 3s 19ms/step - loss: 0.5125 - accuracy: 0.8616
Epoch 7/10
149/149 [==============================] - 3s 20ms/step - loss: 0.4307 - accuracy: 0.8849
Epoch 8/10
149/149 [==============================] - 3s 21ms/step - loss: 0.3643 - accuracy: 0.9005
Epoch 9/10
149/149 [==============================] - 3s 19ms/step - loss: 0.3124 - accuracy: 0.9156
Epoch 10/10
149/149 [==============================] - 3s 19ms/step - loss: 0.2763 - accuracy: 0.9246
38/38 [==============================] - 0s 4ms/step
Accuracy: 0.4995801847187238

As it appear the SVM accuracy is higher so I will use it

In [112]:
def predict_book_main_genre(row):
    if type(row['main_genre']) is type(np.nan):
        # Convert the book title into a feature vector
        new_book_vector = vectorizer.transform([row['title']])

        # Predict the genre of the new book
        predicted_genre = clf.predict(new_book_vector)[0]
        return predicted_genre
    return row['main_genre']
    
df['main_genre'] = df.apply(predict_book_main_genre, axis=1)

Next I will build another machine learning model to predict sub genre based on book title and book main genre

In [113]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load the books data into a pandas dataframe
books_df = df[df['sub_genre'].isnull() == False][['title', 'main_genre', 'sub_genre']]

# Convert the main genre into numerical categories
books_df['main_genre'] = books_df['main_genre'].astype('category').cat.codes

# Split the data into training and testing sets
train_data, test_data, train_labels, test_labels = train_test_split(books_df[['title', 'main_genre']], books_df['sub_genre'], test_size=0.2, random_state=42)

# Convert the book titles and main genres into a bag of words representation
vectorizer = CountVectorizer()
train_title_vectors = vectorizer.fit_transform(train_data['title'])
test_title_vectors = vectorizer.transform(test_data['title'])

# Combine the title and main genre feature vectors into a single feature matrix
train_vectors = np.hstack((train_title_vectors.toarray(), train_data['main_genre'].values.reshape(-1, 1)))
test_vectors = np.hstack((test_title_vectors.toarray(), test_data['main_genre'].values.reshape(-1, 1)))

# Train a SVM classifier on the training data
clf = SVC(kernel='linear')
clf.fit(train_vectors, train_labels)

# Predict the sub-genres for the test data
predictions = clf.predict(test_vectors)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(test_labels, predictions)
print("Accuracy:", accuracy)

In [114]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load the books_df data into a pandas dataframe
books_df = df[df['sub_genre'].isnull() == False][['title', 'sub_genre']]

# Split the data into training and testing sets
train_data, test_data, train_labels, test_labels = train_test_split(books_df["title"], books_df["sub_genre"], test_size=0.2, random_state=42)

# Convert the book titles into a bag-of-words representation
vectorizer = CountVectorizer()
train_vectors = vectorizer.fit_transform(train_data)
test_vectors = vectorizer.transform(test_data)

# Train a SVM classifier on the training data
clf = SVC(kernel='linear')
clf.fit(train_vectors, train_labels)

# Predict the book genres for the test data
predictions = clf.predict(test_vectors)

# Calculate the accuracy of the classifier
accuracy = accuracy_score(test_labels, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.39210747271200674

In [115]:
def predict_book_sub_genre(row):
    if type(row['sub_genre']) is type(np.nan):
        # Convert the book title into a feature vector
        new_book_vector = vectorizer.transform([row['title']])

        # Predict the genre of the new book
        predicted_genre = clf.predict(new_book_vector)[0]
        return predicted_genre
    return row['sub_genre']
    
df['sub_genre'] = df.apply(predict_book_main_genre, axis=1)

Remove all_genres after extracting the informations

In [116]:
df.drop('all_genres', axis=1, inplace=True)

#### ISBN Column
remove isbn column (unnecessary for the analysis)

In [117]:
df.drop('ISBN', axis=1, inplace=True)

Check the final data results

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11752 entries, 0 to 1547
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   goodreads_id              11752 non-null  object
 1   title                     11752 non-null  object
 2   publication_info          11752 non-null  datetime64[ns]
 3   number_of_rattings        11752 non-null  int64
 4   number_of_reviews         11752 non-null  int64
 5   book_rate                 11752 non-null  float64
 6   number_of_5_stars_rating  11752 non-null  int64
 7   number_of_4_stars_rating  11752 non-null  int64
 8   number_of_3_stars_rating  11752 non-null  int64
 9   number_of_2_stars_rating  11752 non-null  int64
 10  number_of_1_stars_rating  11752 non-null  int64
 11  author_name               11752 non-null  object
 12  author_no_of_books        11752 non-null  int64
 13  author_followers          11752 non-null  int64
 14  original_title            11752 non-null  object
 15  all_contributors          11752 non-null  object
 16  number_of_editions        11752 non-null  int64
 17  currently_reading         11752 non-null  int64
 18  to_read                   11752 non-null  int64
 19  first_published_date      11752 non-null  datetime64[ns]
 20  publisher                 11752 non-null  object
 21  no_of_papers              11752 non-null  float64
 22  book_type                 11752 non-null  object
 23  is_translated             11752 non-null  bool
 24  translator                2139 non-null   object
 25  main_genre                11752 non-null  object
 26  sub_genre                 11752 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(2), int64(12), object(10)
memory usage: 2.4+ MB

### Check duplicates after cleaning

#### General duplicated

In [119]:
df.duplicated().sum()

97

In [120]:
df.drop_duplicates(inplace=True)

#### Duplicated based on goodreads ID

In [121]:
df['goodreads_id'].duplicated().sum()

155

In [122]:
df.drop_duplicates(subset='goodreads_id', inplace=True)

### Save Cleaned data to csv file

In [123]:
df.to_csv('cleanded_goodreads_data.csv', index=False)